// Buttons
$main-button: #3483fa;
$main-button-hover: #2968c8;

// Text
$black-text: #000;
$white-text: #fff;

// Backgrounds
$yellow-background: #fee600;
$black-background: #333;
$dark-grey-background: #666;
$grey-background: #999;
$soft-grey-background: #eee;
